html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

canvas {
  display: block;
}

#runInfo{
  visibility: hidden;
}

.show {
  visibility: visible !important
}
.game-ui {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-ui-block {
  width: 100%;
  height: 120px;
}

.centered {
  text-align: center;
}

.grid-form {
  width: 100%;
  bottom: 0px;position:fixed; 
  background-color: rgb(20,20,20);
}

.stats-ui {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stat {
  width: calc(100% / 4);
  padding: 16px;
}


.reward-ui {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reward-wrap{
  width: 25%;
}

.reward {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  border: 1px solid rgb(220,220,220);
  color: #000;
  padding: 8px;
  display: block;
  min-height: 150px;
}

.rarity {
  font-style: italic;
  float: left;
}

.price {
  font-style: italic;
  float: right;
}

.rarity-Common {
  background-color: rgb(224, 224, 224);
}

.rarity-Rare{
  background-color: rgb(101, 206, 80)
}

.rarity-Epic{
  background-color: rgb(84, 80, 206)
}

.shielded {
  color: rgb(101, 206, 80);
}